@model OnlineStore.Models.Dtos.Requests.LoginDto



@{
  Layout = "~/Areas/Dashboard/Views/Shared/_Auth.cshtml";
}

<div class="login-box">
  <div class="login-logo">
    <h2><a href="#"><b>@Localizer["Access"]</b>@Localizer["Denied"]</a></h2>
    <p>@Localizer["NoPermissionMessage"]</p>
  </div>
  </div>
</div>