@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form action="" method="POST">
    <input type="text" name="Name" id="" placeholder="Full Name">
    <input type="email" name="Email" id="" placeholder="Email">

    <input type="password" name="Password" id="" placeholder="Password">
        <input type="password" name="ConfirmPassword" id="" placeholder="Confirm Password">

            <input type="number" name="Age" id="" placeholder="Age From 18 text-center 60">
            <button>Send</button>

</form>
